{% extends 'flatpages/default.html' %}

{% block content %}
<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;"><span style="background-color: #ffffff;">Welcome to My first page.</span></h1>
<p>&nbsp;</p>
<hr />
<h2 style="text-align: center;">In this page you can see, how I can use the python with Django library.&nbsp;</h2>
<hr />
<h2 style="text-align: center;">I show you test table with my phone numbers:</h2>
<p>&nbsp;</p>
<table style="width: 657.484px; border-color: black; margin-left: auto; margin-right: auto;" border="yes">
<tbody>
<tr>
<td style="width: 315px;">
<h2 style="text-align: center;">+7 909 099 8868</h2>
</td>
<td style="width: 343.484px;">
<h2 style="text-align: center;">FanatikLeo in Russia</h2>
</td>
</tr>
<tr>
<td style="width: 315px;">
<h2 style="text-align: center;">+90 535 549 6336</h2>
</td>
<td style="width: 343.484px; text-align: center;">
<h2>FanatikLeo in Turkey</h2>
</td>
</tr>
</tbody>
</table>
<h2 style="text-align: center;">&nbsp;</h2>
<h2 style="text-align: center;">&nbsp;</h2>
<h2 style="text-align: center;">&nbsp;</h2>
<h2 style="text-align: center;">12.03.2023&nbsp; &nbsp; &nbsp;With Regards FanatikLeo</h2>

{% endblock content %}